*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
  
}
.details{
    flex-basis: 53%;
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.1);
    font-size: 13px;
    font-weight: 500;
    color:#777;
}
.details h1{
    color: #333;
    font-size: 35px;
}
.details h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
}
.details h3{
     color: #00d874;
     margin-bottom: 20px;
}
.details form{
    font-size: 15px;
    font-weight: 400;
}
.size{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size p{
    width: 70px;
} 
.size input:checked + span{
    color: blue;
    font-weight: 600;
}
.size input{
    display: none;
}
.size span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color p{
    width: 75px;
}
.color span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color1{
    background: red;
}
.color2{
    background: #00d874;
}
.color3{
    background: blue;
}
.color4{
     background: pink;
}

.color input{
    display: none;
}
.color input:checked + span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff , 0 0 0 6px #000;
}
.select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.select p{
    width: 75px;
}
.select input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 15px;
}
form button{
    background: #553ff0;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    box-shadow: 0 10px 10px rgba(85,63, 240, 0.25);
    cursor: pointer;
}
.control{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.btn{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
}

.btn.active{
    background:#553ff0;
}